.toolbarButtons{
    -fx-font-family: sans-serif;
    -fx-text-fill: gold;
    -fx-background-color: radial-gradient(center 50% 50%, radius 50%,transparent ,rgba(0, 0, 0, 0.5));
    -fx-background-radius: 70;
    -fx-border-radius: 70;
    -fx-border-color:black;
    -fx-border-width:3;
}

.menuButtons{
    -fx-background-color: transparent;
    -fx-font-family: Franklin Gothic Demi Cond;
    -fx-font-size: 20;
    -fx-content-display: center;
    -fx-alignment: center-left;
    -fx-text-fill: white;
}

.themeChooserButtons{
    -fx-background-color:transparent;
    -fx-border-widt:20;
}

