.toolbarButtons{
    -fx-font-family: sans-serif;
    -fx-text-fill: gold;
    -fx-background-color: radial-gradient(center 50% 50%, radius 50%,transparent ,rgba(0, 0, 0, 0.5));
    -fx-background-radius: 70;
    -fx-border-radius: 70;
    -fx-border-color:black;
    -fx-border-width:3;
}

.menuButtons{
    -fx-background-color: transparent;
    -fx-font-family: Franklin Gothic Demi Cond;
    -fx-font-size: 20;
    -fx-content-display: center;
    -fx-alignment: center-left;
    -fx-text-fill: white;
}

.themeButtons{
    -fx-background-color:transparent;
    -fx-border-widt:20;
}

.settingsButtons{
    -fx-text-fill: black;
    -fx-background-color: transparent;
    -fx-border-radius: 10;
    -fx-border-color: black;
    -fx-padding: 10;
    -fx-start-margin: 10;

}

.backgroundPane {
    -fx-background-color:
            linear-gradient(
            to right,
                    white ,
                    gold
            ),
            radial-gradient(
                    focus-angle 0deg,
                    focus-distance 0%,
                    center 100% 0%,
                    radius 50%,
                    black,
                    transparent
            ),
            radial-gradient(
                    focus-angle 0deg,
                    focus-distance 0%,
                    center 100% 100%,
                    radius 50%,
                    black,
                    transparent
            );
}

